@CHARSET "UTF-8";

.header label{

	width:100%;

	margin-left:80%;
}
.main{
	border-spacing : 0px 20px;
	margin:0 auto;
}
.login .submit{
	margin-left: 60%;
}
.login input{
	color: 000;
	padding: 10px 30px;
	font-size: 15px;
    border-radius: 5px;
}
.body table{
	font-size: 25px;
	margin:0 auto;
	border-spacing : 10px 20px;
}
.input{
	margin-left: 60%;
}
.input input{
	color: 000;
	padding: 10px 30px;
	font-size: 15px;
    border-radius: 5px;	/*角を丸く*/
}
table.list{
	border: solid 1px #000;
	border-collapse: collapse;
}
.list th{
	width:200px;
}
a.btn {
    background-color:#ddeeff;
    border:1px solid #ccc;
    padding:10px;
    cursor:pointer;
}
th{
	height: 60px;
}
